<%- include('partials/header') %>
<body>
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    	<h1 class="display-4">Uh Ohh!!</h1>
    	<i class="fas fa-frown fa-6x"></i>
    	<p class="lead">There is a problem in letting you in. Please Try again!</p>
    	<a class="btn btn-lg btn-warning" role="button" href="/" >Try Again</a>
  		</div>
	</div>
	
<%- include('partials/footer') %>