<%- include('partials/header') %>


<body>
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Awesome!!</h1>
    <i class="fas fa-smile-beam fa-6x"></i>
    <p class="lead">You have ended the meeting, You can see your analysed emotion on our Dashboard.</p>
    <a class="btn btn-dark btn-lg" role="button" href="/" >Home</a>
    <a class="btn btn-lg btn-primary" role="button" href="/" >Dashboard</a>
  </div>
</div>

<%- include('partials/footer') %>