
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ (Found any issue or bugs please report an issue here GitHub: <a href="https://github.com/ShenpaiSharma/Caring-App" style="color:black">ShenpaiSharma</a>)</p>
  </div>
</div>
</body>
</html>